USE [master]
GO
/****** Object:  Database [QLBanHang]    Script Date: 3/28/2023 1:57:48 PM ******/
CREATE DATABASE [QLBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBanHang.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBanHang_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanHang]
GO
/****** Object:  Table [dbo].[Hangsx]    Script Date: 3/28/2023 1:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hangsx](
	[mahangsx] [nchar](10) NOT NULL,
	[Tenhang] [nvarchar](20) NULL,
	[Diachi] [nvarchar](30) NULL,
	[Sodt] [nvarchar](20) NULL,
	[email] [nvarchar](30) NULL,
 CONSTRAINT [PK_Hangsx] PRIMARY KEY CLUSTERED 
(
	[mahangsx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nhanvien]    Script Date: 3/28/2023 1:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[manv] [nchar](10) NOT NULL,
	[Tennv] [nvarchar](20) NULL,
	[Gioitinh] [nchar](10) NULL,
	[Diachi] [nvarchar](30) NULL,
	[Sodt] [nvarchar](20) NULL,
	[email] [nvarchar](30) NULL,
	[Phong] [nvarchar](30) NULL,
 CONSTRAINT [PK_Nhanvien] PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nhap]    Script Date: 3/28/2023 1:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhap](
	[Sohdn] [nchar](10) NOT NULL,
	[masp] [nchar](10) NOT NULL,
	[manv] [nchar](10) NOT NULL,
	[Ngaynhap] [date] NULL,
	[soluongN] [int] NULL,
	[dongiaN] [money] NULL,
 CONSTRAINT [PK_Nhap] PRIMARY KEY CLUSTERED 
(
	[Sohdn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sanpham]    Script Date: 3/28/2023 1:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanpham](
	[masp] [nchar](10) NOT NULL,
	[mahangsx] [nchar](10) NOT NULL,
	[tensp] [nvarchar](20) NULL,
	[soluong] [int] NULL,
	[mausac] [nvarchar](20) NULL,
	[giaban] [money] NULL,
	[donvitinh] [nchar](10) NULL,
	[mota] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sanpham] PRIMARY KEY CLUSTERED 
(
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Xuat]    Script Date: 3/28/2023 1:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xuat](
	[Sohdx] [nchar](10) NOT NULL,
	[masp] [nchar](10) NOT NULL,
	[manv] [nchar](10) NOT NULL,
	[Ngayxuat] [date] NULL,
	[soluongX] [int] NULL,
 CONSTRAINT [PK_Xuat] PRIMARY KEY CLUSTERED 
(
	[Sohdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Nhap]  WITH CHECK ADD  CONSTRAINT [FK_Nhap_Nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[Nhanvien] ([manv])
GO
ALTER TABLE [dbo].[Nhap] CHECK CONSTRAINT [FK_Nhap_Nhanvien]
GO
ALTER TABLE [dbo].[Nhap]  WITH CHECK ADD  CONSTRAINT [FK_Nhap_Sanpham] FOREIGN KEY([masp])
REFERENCES [dbo].[Sanpham] ([masp])
GO
ALTER TABLE [dbo].[Nhap] CHECK CONSTRAINT [FK_Nhap_Sanpham]
GO
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FK_Sanpham_Hangsx] FOREIGN KEY([mahangsx])
REFERENCES [dbo].[Hangsx] ([mahangsx])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FK_Sanpham_Hangsx]
GO
ALTER TABLE [dbo].[Xuat]  WITH CHECK ADD  CONSTRAINT [FK_Xuat_Nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[Nhanvien] ([manv])
GO
ALTER TABLE [dbo].[Xuat] CHECK CONSTRAINT [FK_Xuat_Nhanvien]
GO
ALTER TABLE [dbo].[Xuat]  WITH CHECK ADD  CONSTRAINT [FK_Xuat_Sanpham] FOREIGN KEY([masp])
REFERENCES [dbo].[Sanpham] ([masp])
GO
ALTER TABLE [dbo].[Xuat] CHECK CONSTRAINT [FK_Xuat_Sanpham]
GO
USE [master]
GO
USE [QLBanHang]
GO

INSERT INTO [dbo].[Hangsx]
           ([mahangsx],[Tenhang],[Diachi],[Sodt],[email])
     VALUES
           ('H01','Samsung','Korea','011-08271717','ss@gmail.com.kr')
INSERT INTO [dbo].[Hangsx]
           ([mahangsx],[Tenhang],[Diachi],[Sodt],[email])
     VALUES
           ('H02','OPPO','China','081-08626262','oppo@gmail.com.cn')
INSERT INTO [dbo].[Hangsx]
           ([mahangsx],[Tenhang],[Diachi],[Sodt],[email])
     VALUES
           ('H03','Vinfone','Viet Nam','084-098262626','vf@gmail.com.vn')
GO

USE [QLBanHang]
GO

INSERT INTO [dbo].[Nhanvien]
           ([manv],[Tennv],[Gioitinh],[Diachi],[Sodt],[email],[Phong])
     VALUES
           ('NV01','Nguyen Thi Thu','Nu','Ha Noi','0982626521','thu@gmail.com','Ke Toan')
INSERT INTO [dbo].[Nhanvien]
           ([manv],[Tennv],[Gioitinh],[Diachi],[Sodt],[email],[Phong])
     VALUES
           ('NV02','Le Van Nam','Nam','Bac Ninh','0972525252','nam@gmail.com','Vat Tu')
INSERT INTO [dbo].[Nhanvien]
           ([manv],[Tennv],[Gioitinh],[Diachi],[Sodt],[email],[Phong])
     VALUES
           ('NV03','Tran Hoa Binh','Nu','Ha Noi','0328388388','hb@gmail.com','Ke Toan')
GO

USE [QLBanHang]
GO

INSERT INTO [dbo].[Sanpham]
           ([masp],[mahangsx],[tensp],[soluong],[mausac],[giaban],[donvitinh],[mota])
     VALUES
           ('SP01','H02','F1Plus',100,'Xam',7000000,'Chiec','Hang can cao cap')
INSERT INTO [dbo].[Sanpham]
           ([masp],[mahangsx],[tensp],[soluong],[mausac],[giaban],[donvitinh],[mota])
     VALUES
           ('SP02','H01','GalaxyNote11',50,'Do',19000000,'Chiec','Hang cao cap')
INSERT INTO [dbo].[Sanpham]
           ([masp],[mahangsx],[tensp],[soluong],[mausac],[giaban],[donvitinh],[mota])
     VALUES
           ('SP03','H02','F3lite',200,'Nau',3000000,'Chiec','Hang pho thong')
GO

USE [QLBanHang]
GO

INSERT INTO [dbo].[Nhap]
           ([Sohdn],[masp],[manv],[Ngaynhap],[soluongN],[dongiaN])
     VALUES
           ('N01','SP02','NV01','02-05-2019',10,17000000)
INSERT INTO [dbo].[Nhap]
           ([Sohdn],[masp],[manv],[Ngaynhap],[soluongN],[dongiaN])
     VALUES
           ('N02','SP01','NV02','04-07-2020',30,6000000)
INSERT INTO [dbo].[Nhap]
           ([Sohdn],[masp],[manv],[Ngaynhap],[soluongN],[dongiaN])
     VALUES
           ('N03','SP04','NV02','05-17-2020',20,1200000)
GO

USE [QLBanHang]
GO

INSERT INTO [dbo].[Xuat]
           ([Sohdx],[masp],[manv],[Ngayxuat],[soluongX])
     VALUES
           ('X01','SP02','NV01','02-05-2020',5)
INSERT INTO [dbo].[Xuat]
           ([Sohdx],[masp],[manv],[Ngayxuat],[soluongX])
     VALUES
           ('X02','SP01','NV02','04-07-2020',3)
INSERT INTO [dbo].[Xuat]
           ([Sohdx],[masp],[manv],[Ngayxuat],[soluongX])
     VALUES
           ('X03','SP04','NV02','05-17-2020',1)
GO
