USE [master]
GO
/****** Object:  Database [QuanLyDeAn2]    Script Date: 3/21/2023 4:29:22 PM ******/
CREATE DATABASE [QuanLyDeAn2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDeAn2_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyDeAn2_Data.mdf' , SIZE = 20480KB , MAXSIZE = 512000KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyDeAn2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyDeAn2_log.ldf' , SIZE = 1024KB , MAXSIZE = 49152KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDeAn2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDeAn2]
GO
/****** Object:  Table [dbo].[DEAN]    Script Date: 3/21/2023 4:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEAN](
	[MaDA] [varchar](2) NOT NULL,
	[TenDA] [nvarchar](50) NULL,
	[DDiemDA] [varchar](20) NULL,
 CONSTRAINT [PK_DEAN] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/21/2023 4:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](9) NOT NULL,
	[HoNV] [nvarchar](15) NULL,
	[Tenlot] [nvarchar](30) NULL,
	[TenNV] [nvarchar](30) NULL,
	[NgSinh] [smalldatetime] NULL,
	[DiaChi] [nvarchar](150) NULL,
	[Phai] [nvarchar](3) NULL,
	[Luong] [numeric](18, 0) NULL,
	[Phong] [varchar](2) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 3/21/2023 4:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MaNV] [varchar](9) NOT NULL,
	[MaDA] [varchar](2) NOT NULL,
	[ThoiGian] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 3/21/2023 4:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MaPhg] [varchar](2) NOT NULL,
	[TenPhg] [nvarchar](20) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MaPhg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 3/21/2023 4:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[MaNV] [varchar](9) NOT NULL,
	[TenTN] [varchar](20) NOT NULL,
	[NgaySinh] [smalldatetime] NULL,
	[Phai] [varchar](3) NULL,
	[QuanHe] [varchar](15) NULL,
 CONSTRAINT [PK_THANNHAN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[TenTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([Phong])
REFERENCES [dbo].[PHONGBAN] ([MaPhg])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_DEAN] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DEAN] ([MaDA])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_DEAN]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_NHANVIEN]
GO
USE [master]
GO
USE QuanLyDeAn2
ALTER TABLE PHONGBAN
ALTER COLUMN TenPhg nvarchar(30)
GO

USE QuanLyDeAn2
ALTER TABLE DEAN
ALTER COLUMN DDiemDA nvarchar(20)
GO
USE QuanLyDeAn2
ALTER TABLE THANNHAN ALTER COLUMN TenTN nvarchar(20)
ALTER TABLE THANNHAN ALTER COLUMN Phai nvarchar(3)
ALTER TABLE THANNHAN ALTER COLUMN QuanHe nvarchar(15)
GO

USE QuanLyDeAn2
ALTER TABLE NHANVIEN ADD SoDienThoai varchar(15)
GO
USE QuanLyDeAn2
ALTER TABLE NHANVIEN DROP COLUMN SoDienThoai
GO

USE [QuanLyDeAn2]
GO
INSERT INTO [dbo].[THANNHAN]
           ([MaNV],[TenTN],[NgaySinh],[Phai],[QuanHe])
     VALUES
           (123,'Châu',30/10/2005,'Nữ','Con gái')
GO

INSERT INTO [dbo].[THANNHAN]
           ([MaNV],[TenTN],[NgaySinh],[Phai],[QuanHe])
     VALUES
           (123,'Duy',25/10/2001,'Nam','Con trai')
GO

INSERT INTO [dbo].[THANNHAN]
           ([MaNV],[TenTN],[NgaySinh],[Phai],[QuanHe])
     VALUES
           (123,'Phương',30/10/1985,'Nữ','Vợ chồng')
GO





USE [QuanLyDeAn2]
GO

INSERT INTO [dbo].[PHONGBAN]
           ([MaPhg]
           ,[TenPhg])
     VALUES
           (1
           ,'Quản lý')
GO

INSERT INTO [dbo].[PHONGBAN]
           ([MaPhg]
           ,[TenPhg])
     VALUES
           (4
           ,'Điều hành')
GO

INSERT INTO [dbo].[PHONGBAN]
           ([MaPhg]
           ,[TenPhg])
     VALUES
           (5
           ,'Nghiên cứu')
GO
USE [QuanLyDeAn2]
GO

INSERT INTO [dbo].[PHANCONG]
           ([MaNV],[MaDA],[ThoiGian])
     VALUES
           (123,1,33)
GO

INSERT INTO [dbo].[PHANCONG]
           ([MaNV],[MaDA],[ThoiGian])
     VALUES
           (123,2,8)
GO

INSERT INTO [dbo].[PHANCONG]
           ([MaNV],[MaDA],[ThoiGian])
     VALUES
           (345,10,10)
GO








USE [QuanLyDeAn2]
GO

INSERT INTO [dbo].[NHANVIEN]
           ([MaNV],[HoNV],[TenLot],[TenNV],[NgSinh],[DiaChi],[Phai],[Luong],[Phong])
     VALUES
           (123,'Đinh','Bá','Tiến',27/2/1982,'Mộ Đức','Nam',NULL,4)
GO

INSERT INTO [dbo].[NHANVIEN]
           ([MaNV],[HoNV],[TenLot],[TenNV],[NgSinh],[DiaChi],[Phai],[Luong],[Phong])
     VALUES
           (234,'Nguyễn','Thanh','Tùng',12/8/1956,'Sơn Tịnh','Nam',NULL,5)
GO

INSERT INTO [dbo].[NHANVIEN]
           ([MaNV],[HoNV],[TenLot],[TenNV],[NgSinh],[DiaChi],[Phai],[Luong],[Phong])
     VALUES
           (345,'Bùi','Thúy','Vũ',NULL,'Tư Nghĩa','Nữ',NULL,4)
GO






USE [QuanLyDeAn2]
GO

INSERT INTO [dbo].[DEAN]
           ([MaDA]
           ,[TenDA]
           ,[DDiemDA])
     VALUES
           (1
           ,'Nâng cao chất lượng muối'
           ,'Sa Huỳnh')
GO
INSERT INTO [dbo].[DEAN]
           ([MaDA]
           ,[TenDA]
           ,[DDiemDA])
     VALUES
           (10
           ,'Xây dựng nhà máy chế biến thủy sản'
           ,'Dung Quất')
GO
INSERT INTO [dbo].[DEAN]
           ([MaDA]
           ,[TenDA]
           ,[DDiemDA])
     VALUES
           (2
           ,'Phát triển hạ tầng mạng'
           ,'Tp Quảng Ngãi')
GO
GO